<section class="section about waypoint" data-slide="1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <header class="title">
          <h2 class="title-section wow fadeInDown">ABOUT ME</h2>
          <div class="separator-wrapper wow fadeIn">
            <div class="separator-first-circle">
              <div class="separator-second-circle"></div>
            </div>
          </div>
          <p class="subtitle wow fadeInDown">I am regarded as a technological professional. Skilled in numerous programming languages and applications to make technology better.</p>
        </header>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 wow fadeInDown" data-wow-delay="500ms">
        <div class="box-resume">
          <div class="center-top">
            <%= image_tag 'about-img.jpg', class: 'img-responsive' %>
          </div>
          <ul>
            <li><span>Name</span> Daniel Gerhab</li>
            <li><span>Email</span> <a href="mailto:djgerhab@gmail.com" title="" class="email">djgerhab@gmail.com</a></li>
            <li><span>Phone</span> <a href="tel:+16107625375" class="phone">(610)-762-5375</a></li>
          </ul>
          <div class="center-bottom">
            <a href="<%= homepage_resume_path %>" title="Download Resume" class="download-resume btn btn-default btn-primary" data-turbolinks="false">Download Resume</a>
          </div>
        </div>
      </div>
      <%= render partial: 'homepage/skills' %>
      <div class="clearfix"></div>
      <%= render partial: 'homepage/experience' %>
      <%= render partial: 'homepage/education' %>
    </div>
  </div>
</section>
