<section class="section contact waypoint" data-slide="2">
  <div class="container">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <header class="title">
          <h2 class="title-section wow fadeInDown">CONTACT</h2>
          <div class="separator-wrapper wow fadeIn">
            <div class="separator-first-circle">
              <div class="separator-second-circle"></div>
            </div>
          </div>
          <p class="subtitle wow fadeInDown">If you are interested in my profile and have questions and/or business opportunities, please feel free to reach out to me.</p>
        </header>
      </article>
      <div class="clearfix"></div>
      <%= render partial: 'shared/contact_form' %>
    </div>
  </div>
</section>
