<section class="section connect waypoint" data-slide="3">
  <div class="container">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <header class="title">
          <h2 class="title-section wow fadeInDown">CONNECT</h2>
          <div class="separator-wrapper wow fadeIn">
            <div class="separator-first-circle">
              <div class="separator-second-circle"></div>
            </div>
          </div>
          <p class="subtitle wow fadeInDown">If you want to know more about me, feel free to connect with other sites</p>
        </header>
      </article>
      <div class="clearfix"></div>
      <%= render partial: 'shared/map' %>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<section class="section social-group">
  <div class="container">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeInDown">
        <a href="https://www.facebook.com/djgerhab" title="Facebook Page">
          <div class="item">
            <i class="fab fa-facebook"></i>
          </div>
        </a>
        <a href="https://gitlab.com/djgerhab/portfolio" title="GitLab Project Page">
          <div class="item">
            <i class="fab fa-git"></i>
          </div>
        </a>
        <a href="https://www.linkedin.com/in/danielgerhab" title="LinkedIn Page">
          <div class="item">
            <i class="fab fa-linkedin"></i>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>
