<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <div class="years">
    <div class="subsection-title wow fadeInDown">
    <div class="separator-first-circle">
      <div class="separator-second-circle"></div>
    </div>
    EDUCATION
    </div>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="year">
          2006 <hr />2004
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Bloomsburg University</h4>
          <p class="subtitle">Bloomsburg, PA</p>
          <p>Graduated in 2006 with a Bachelors degree in Computer Information Systems</p>
        </div>
      </div>
    </article>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="year">
          2004 <hr />2002
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Northampton Community College</h4>
          <p class="subtitle">Bethlehem, PA</p>
          <p>Started my undergraduate studies in CIS before transferring to Bloomsburg</p>
        </div>
      </div>
    </article>
  </div>
</section>
