<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <div class="years">
    <div class="subsection-title wow fadeInDown">
    <div class="separator-first-circle">
      <div class="separator-second-circle"></div>
    </div>
    EMPLOYMENT
    </div>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="year">
          Present <hr />2021
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Carmax</h4>
          <p class="subtitle">Senior Software Engineer</p>
          <p>Part of a large team creating a wholesale online auction experience.</p>
        </div>
      </div>
    </article>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="year">
          2021 <hr />2016
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Kroll Bond Rating Agency</h4>
          <p class="subtitle">Senior Software Engineer</p>
          <p>Building financial web applications for large investment companies.</p>
        </div>
      </div>
    </article>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="year">
          2016 <hr />2015
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>eBay Enterprise</h4>
          <p class="subtitle">Senior Mid-Tier Software Engineer</p>
          <p>Worked on an Order Management Enterprise application that is client facing and integrates the companies numerous backend APIs through one central interface.</p>
        </div>
      </div>
    </article>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="year">
          2015 <hr />2011
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>eBay Enterprise</h4>
          <p class="subtitle">UI Lead Developer</p>
          <p>Lead a team of UI engineers to build and maintain major retailers E-Commerce webstores such as Sony, Petsmart, Steinmart</p>
        </div>
      </div>
    </article>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="year">
          2011 <hr />2007
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Deluxe Digital Studios</h4>
          <p class="subtitle">Java Developer</p>
          <p>Programmed the functionality and interactivity (Menus, Animations, Games) of Blu-ray discs for major clients such as Universal Studios, Fox MGM, Paramount and Disney.</p>
        </div>
      </div>
    </article>
  </div>
</section>
