<section class="col-xs-12 col-sm-6 col-md-7 col-lg-7 wow fadeInDown">
  <p class="leads">My Career Goals</p>
  <p>To use my education and 15+ years of experience as a Software Engineer to obtain a related position that will fulfill my career goals of finding a secure, well paid employment that offers everyday challenges to keep my problem solving ambitions alive!</p>
  <div class="skills">
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon">
          <i class="fas fa-language"></i>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Languages</h4>
          <p>Javascript, Ruby, PHP, Typescript, Python, C#, Java, CSS, JSP, C++, HTML5</p>
        </div>
      </div>
    </article>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon">
          <i class="fas fa-university"></i>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Frameworks</h4>
          <p>React, Node.js, Next.js, Rails, .NET, Angular, RxJs, Redux, Apollo GraphQL, Auth0, Jest, Cypress, Sass, jQuery, Bootstrap, D3</p>
        </div>
      </div>
    </article>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon">
          <i class="fas fa-rocket"></i>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Applications</h4>
          <p>Postman, Docker Desktop, Vagrant, Virtual Box, Figma, Photoshop, VSCode, Webstorm, Vim, Mobster</p>
        </div>
      </div>
    </article>
    <article class="row item wow fadeInDown">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <div class="icon">
          <i class="fas fa-wrench"></i>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="desc">
          <h4>Other Tech / Tools</h4>
          <p>Azure Services, GraphQL, REST, Storybook, Webpack, AWS, CosmosDB, MySQL, MsSQL, Postgres, ElasticSearch (ELK Stack), Terraform, Docker Swarm, Portainer, Puppet, Datadog, Sonarqube, Trivy, Opsgenie, Swagger, Artifactory, Maven, Azure DevOps, Gitlab CI, Jenkins, Heroku, GoCD, Slack, Atlassian Products</p>
        </div>
      </div>
    </article>
  </div>
</section>
