<div class="site-content">
  <%= render partial: 'homepage/banner' %>
  <%= render partial: 'shared/navbar' %>
  <%= render partial: 'shared/errors' %>
  <%= render partial: 'homepage/about' %>
  <%= render partial: 'homepage/contact' %>
  <%= render partial: 'homepage/connect' %>
</div>
