<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="subsection-title wow fadeInDown">
    <div class="separator-first-circle">
      <div class="separator-second-circle"></div>
    </div>
    CONTACT FORM
  </div>
</div>
<%= form_for(@contact, url: homepage_contact_path, html: { class: 'contact-form wow fadeInDown', 'data-wow-delay' => '500ms'}) do |f| %>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <p><%= f.text_field(:name, class: 'form-control', placeholder: 'Name...') %></p>
    <p><%= f.telephone_field(:phone, class: 'form-control', placeholder: 'Phone...') %></p>
    <p><%= f.email_field(:email, class: 'form-control', placeholder: 'Email...') %></p>
    <p class="hidden"><%= f.text_field :nickname %></p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <p><%= f.text_area(:message, rows: 6, class: 'form-control', placeholder: 'Message...') %></textarea></p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="send">
      <%= f.submit( 'Send a Message', class: 'btn btn-default btn-primary') %>
    </div>
  </div>
<% end %>
