<div class="flash-message-container">
  <% if notice.present? %>
    <p class="flash-message alert alert-success"><%= notice %></p>
  <% end %>
  <% if flash[:warning].present? %>
    <p class="flash-message alert alert-warning"><%= flash[:warning] %></p>
  <% end %>
  <% if alert.present? %>
    <p class="flash-message alert alert-danger"><%= alert %></p>
  <% end %>
</div>
