<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="footer-text">Made by me, Daniel Gerhab</p>
      </div>
    </div>
  </div>
</footer>
