<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Daniel Gerhab - Resume, Portfolio</title>

<%= favicon_link_tag 'favicon.png' %>
<%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<!--[if lte IE 9]>
  <%# html5shiv allows html5 markup to work in ie %>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <%# respond.js provides responsive support to ie %>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <%= stylesheet_link_tag 'ie-9', media: 'all' %>
<![endif]-->

<%= csrf_meta_tags %>
