<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="maps-wraper wow fadeInDown">
    <div id="map">
      <!-- map -->
    </div>
  </div>
  <div class="maps-address wow fadeInDown">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span class="fas fa-phone"></span><a href="tel:+16107625375" class="phone">(610)-762-5375</a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span class="fas fa-map-marker"></span> Pennsylvania
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span class="fas fa-envelope"></span> <a href="mailto:djgerhab@gmail.com" title="" class="email">djgerhab@gmail.com</a>
      </div>
    </div>
  </div>
</section>
