<nav class="navbar navbar-default main-menu">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html" rel="About Me" data-slide="0">
        <header class="logo">
          <h2>Daniel <span>Gerhab</span></h2>
          <div class="roles">
            <div>Passionate Coder</div>
            <div>Enthusiastic Learner</div>
            <div>Self-Driven Adventurer</div>
          </div>
        </header>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li data-slide="1"><a href="#" rel="About Me">About Me</a></li>
        <li data-slide="2"><a href="#" rel="Contact">Contact</a></li>
        <li data-slide="3"><a href="#" rel="Connect">Connect</a></li>
      </ul>
    </div>
  </div>
</nav>
