$color-black: #666;
$color-darker: #888;
$color-dark: #999;
$color-light: #bbb;
$color-lighter: #ccc;
$color-white: #fff;
$color-shadow: rgba(0, 0, 0, 0.3);

$color-primary: #f00;
$color-info: #00aeef;
$color-success: #86b817;
$color-warning: #f47b20;
$color-alert: #fff6cc;
