.logo {
  color: $color-black;
  padding: 117px 0 0 32px;
  text-align: left;
}

.logo h2 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.logo h2 span {
  color: $color-primary;
  font-weight: 700;
}

.logo h3 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.logo .roles {
  height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.logo div {
  display: block;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  height: 24px;
  transition: margin-top 0.5s ease-in-out;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition: margin-top 0.5s ease-in-out;
    -o-transition: margin-top 0.5s ease-in-out;
}

.box-resume {
  border: 1px solid $color-lighter;
  margin-top: 45%;
  padding: 30px;
  position: relative;
}

.box-resume.info {
  border: 1px solid $color-lighter;
  padding: 10px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 0;
}

.box-resume ul {
  margin: 0;
  padding: 0;
}

.box-resume ul li {
  list-style: none;
  margin: 8px 0;
  padding: 0;
}

.box-resume ul li span{
  display: inline-block;
  font-weight: 700;
  width: 80px;
}

.no-border > tbody > tr > th,
.no-border > tbody > tr > td {
  border-top: 0;
}

.download-resume {
  background: $color-white;
  border: 1px solid $color-primary;
  color: $color-primary;
  padding: 10px 15px;
  text-align: center;
}

.center-top {
  margin-bottom: 40px;
  margin-top: -20%;
  text-align: center;
}

.center-top img {
  border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  margin-top: -60%;
}

.center-bottom {
  bottom: -22px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.box-center-bottom {
  bottom: -22px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.leads{
  font-weight: bold;
  margin-top: 50px;
}

.skills {
  margin-top: 60px;
}

.skills .item {
  margin-top: 20px;
}

.skills .icon {
  padding-top: 20px;
  text-align: center;
}

.skills .icon i {
  color: $color-primary;
  font-size: 50px;
}

.skills .icon p {
  font-weight: bold;
  margin-top: 10px;
}

.skills .desc {
  border-left: 1px solid $color-lighter;
  padding: 5px 0 10px 40px;
  position: relative;
}

.skills .desc h4 {
  font-size: 16px;
  font-weight: bold;
}

.skills .desc:before {
  background: $color-lighter;
  border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  content: '';
  height: 10px;
  left: -5px;
  position: absolute;
  top: 0;
  width: 10px;
}
