.section.banner {
  background: $color-white image-url("bg-banner.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  color: $color-white;
  height: 100%;
  padding: 70px 0;
  position: relative;
  width: 100%;
}

.wrap-overlay{
  background: rgba(255, 255, 255, .5);
  bottom: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
