.social-group {
  background: $color-white image-url("bg-connect.jpg") 50% 100% fixed no-repeat;
  border: 0;
  color: $color-white;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.social-group a, .social-group a:hover {
  text-decoration: none;
}

.social-group .item {
  background: $color-white;
  border-radius: 50%;
  color: $color-lighter;
  display: inline-table;
  height: 130px;
  margin: 10px 10px;
  width: 130px;
}

.social-group .item:hover {
  background: $color-primary;
  color: $color-white;
}

.social-group .item i {
  font-size: 60px;
  margin-top: 35px;
}

.btn-primary {
  background-color: $color-white;
  border-color: $color-primary;
  border-radius: 0px;
  color: $color-primary;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-white;
}

a.email,
a.phone{
  color: $color-black;
}
a.email:hover,
a.phone:hover{
  color: $color-primary;
}
