.subsection-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
}

.subsection-title .separator-first-circle {
  margin-right: 10px;
  vertical-align: middle;
}

.years {
  padding-top: 50px;
}

.years .item {
  margin-top: 50px;
}

.years .year {
  border: 1px solid $color-lighter;
  font-size: 16px;
  font-weight: bold;
  margin-top: -18px;
  text-align: center;
}

.years .year hr {
  border: 0;
  border-top: 1px solid $color-lighter;
  margin-top: 4px;
  margin-bottom: 4px;
}

.years .desc h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 4px;
}

.years .desc .subtitle {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.years .desc {
  border-left: 1px solid $color-lighter;
  padding: 0px 0 10px 40px;
  position: relative;
}

.years .desc h4 {
  font-size: 16px;
  font-weight: bold;
}

.years .desc:before {
  background: $color-lighter;
  border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  content: '';
  height: 10px;
  left: -5px;
  position: absolute;
  top: 0px;
  width: 10px;
}
