.experience {
  border: 0;
  background: none;
  box-shadow: none;
  padding: 10px 0px;
}

.panel-education > .panel-heading {
  background-color: transparent;
  border-color: #ddd;
  color: #333;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
}

.experience a {
  color: $color-black;
  text-decoration: none;
}

.experience a:hover {
  text-decoration: none;
}

.experience a:before {
  content: "\f068";
  font-family: FontAwesome;
  margin-right: 10px;
}

.experience a.collapsed:before {
  content: "\f067";
  font-family: FontAwesome;
  margin-right: 10px;
}

.experience a {
  border: 0;
  border-radius: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.experience a:hover {
  background: none;
  border: 0;
  color: #333;
}

.experience .date {
  width: 150px;
}

.experience p {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}

.experience .job {
  display: block;
  padding-left: 20px;
}

.experience .arrow-down {
  font-size: 2em;
  vertical-align: middle;
}
