body {
  background-color: $color-white;
  color: $color-black;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 24px;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  color: $color-primary;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $color-primary;
  text-decoration: underline;
}

.section {
  padding: 50px 0;
}

.title {
  margin-bottom: 70px;
  text-align: center;
}

.title-section {
  color: $color-black;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.subtitle {
  color: $color-dark;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 500px;
}

.separator-wrapper {
  margin-bottom: 10px;
  margin-top: 10px;
}

.separator-first-circle {
  border: 1px solid $color-lighter;
  border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.separator-second-circle {
  background-color: $color-primary;
  border: 8px solid $color-white;
  border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  height: 22px;
  width: 22px;
}

.separator-wrapper::after, .separator-wrapper::before {
  background-color: $color-lighter;
  content: "";
  display: inline-block;
  height: 1px;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: -15px;
  vertical-align: middle;
  width: 150px;
}

.flash-message {
  text-align: center;
}
