.maps-wraper {
  position: relative;
}

.maps-address{
  border: 1px solid $color-lighter;
  display: block;
  margin-bottom: 40px;
  padding: 20px 0;
  text-align: center;

  span {
    font-size: 22px;
    margin-right: 10px;
  }
}

#map {
  background: $color-lighter;
  display: block;
  height: 350px;
  width: 100%;
}
