.main-menu {
  min-height: 65px;
}

.navbar-default {
  background-color: $color-white;
  border-bottom: 1px solid $color-lighter;
  border-radius: 0px;
}

.main-menu .navbar-nav > li > a {
  color: $color-black;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.main-menu .navbar-nav > li > a:hover,
.main-menu .navbar-nav > li > a:focus {
  background-color: transparent;
  color: $color-primary;
}

.main-menu .navbar-nav > li.active > a{
  background-color: transparent;
  color: $color-primary;
}

.main-menu .navbar-nav > .active > a,
.main-menu .navbar-nav > .active > a:hover,
.main-menu .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: $color-primary;
}

.navbar-brand .logo {
  color: $color-black;
  padding: 0;
  text-align: left;
}

.navbar-brand .logo h2 {
  font-size: 20px;
}

.navbar-brand .logo div {
  font-size: 14px;
}

.main-menu.tiny {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle .icon-bar {
  height: 3px;
}

.main-menu .navbar-toggle:hover,
.main-menu .navbar-toggle:focus {
  background-color: transparent;
}

.main-menu .navbar-toggle:hover .icon-bar,
.main-menu .navbar-toggle:focus .icon-bar{
  background-color: $color-primary;
}
