@media (max-width: 1199px) {
  .main-menu .navbar-nav > li > a {
    font-size: 13px;
    padding: 20px 10px;
  }
}
@media (max-width: 768px) {
  .separator-wrapper::after, .separator-wrapper::before {
    width: 70px;
  }
  .circle-1 {
    margin-top: 30%;
  }
}
@media (max-width: 767px) {
  .main-menu .navbar-nav > li > a {
    padding: 10px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-menu .navbar-nav > li > a {
    font-size: 12px;
    padding: 20px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .main-menu .navbar-nav > li > a {
    font-size: 11px;
    padding: 20px 5px;
  }
}
@media (min-width: 800px) {
  .main-menu .navbar-nav > li > a {
    font-size: 11px;
    padding: 20px 3px;
  }
}
@media (min-width: 850px) {
  .container {
    width: 840px;
  }
  .main-menu .navbar-nav > li > a {
    font-size: 12px;
    padding: 20px 5px;
  }
}
@media (min-width: 950px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .main-menu .navbar-nav > li > a {
    font-size: 13px;
    padding: 20px 10px;
  }
}
