.loading-spinner {
  display: none;
}

.loading-spinner-ie {
  background-image: url("/assets/ajax-loader.gif");
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 12px;
  height: 5.5em;
  margin: 0.5em 0.5em;
  overflow: hidden;
  position: relative;
  text-indent: 999em;
  width: 5.5em;
}

// Revert to default bootstrap styling
select.form-control {
  background-image: none;
  padding-right: 12px;
}

.form-control--search {
  min-width: auto;
}
