<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'shared/head' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <%= yield %>
    <%= render partial: 'shared/footer' %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBfb7oDYZrJHHQmJ6xdjLC7ydIKzmZne7A&callback=initMap&libraries=&v=weekly' %>
  </body>
</html>
